<h2>Create a Room</h2>

<form method="post" action="/rooms/create">

  <label>name</label>
  <input name="name" value="Cool room" />
  <label>description</label>
  <input name="description" value="A cool room" />

  <button type="submit">Create Room</button>
</form>

<p>{{message}}</p>