<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/users/signup">Sign up</a>
        <a href="/users/login">Log in</a>
        <a href="/users/logout">Log out</a>
        <a href="/rooms/create">Create a Room</a>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
