<h2>Sign up</h2>

<form method="post" action="/users/signup">

  <label>Email</label>
  <input name="email" value="asdf@mail.com" />
  <label>Full Name</label>
  <input name="fullName" value="testuser" />
  <label>Password</label>
  <input name="password" value="password" />

  <button type="submit">Create User</button>
</form>

<p>{{message}}</p>