<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/">home</a>
      <a href="/user">user</a>
      </header>
    {{{body}}}
  </body>
</html>
